/ConsoleApplication1/bin
/ConsoleApplication1/obj
/ConsoleApplication2/bin
/ConsoleApplication2/obj
/ConsoleAppTest/bin
/ConsoleAppTest/obj
/Demo.Data/bin
/Demo.Data/obj
/Demo.Models/bin
/Demo.Models/obj
/Demo.Services/obj
/Demo.Services/bin
/Panda/obj
/Panda/bin
/packages
/Panda.Mongo/bin
/Panda.Mongo/obj
/Panda.Mvc/bin
/Panda.Mvc/obj
/Panda.RedisCache/bin
/Panda.RedisCache/obj
/WebAppDemo/bin
/WebAppDemo/logs
/WebAppDemo/obj
/.vs
/Panda.CacheManager/bin
/Panda.CacheManager/obj
/Panda.UnitTest/bin
/Panda.UnitTest/obj
/EasyDo.Mongo/bin
/EasyDo.Mongo/obj
/EasyDo.Mvc/bin
/EasyDo.Mvc/obj
/EasyDo.RedisCache/bin
/EasyDo.RedisCache/obj
/EasyDo.UnitTest/bin
/EasyDo.UnitTest/obj
/EasyDo/obj
/EasyDo/bin
